body{
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(219,187,129);
background: linear-gradient(180deg, rgba(219,187,129,1) 0%, rgba(255,216,145,1) 6%, rgba(255,215,141,1) 27%, rgba(235,216,182,1) 49%, rgb(255, 255, 255) 79%, rgb(255, 255, 255) 100%);
}
.header_div
  {
    text-align: center;
  background: #ffd891;
  color: #2f2c45; 
  text-shadow: 5px 5px 5px rgb(146, 146, 146);
  }
  .header_div p{
    font-family: Arial, Helvetica, sans-serif;
    color: #2f2c45;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold;
    text-shadow: 5px 5px 5px rgb(146, 146, 146);
  }
  .copy_right_footer {
   position: fixed;
   color: #000000;
   bottom: 0;
   width: 100%;
   font-size: 18px;
   background-color: #ffffff;
   line-height: 3;
   text-align: center;
   text-shadow: 5px 5px 5px rgb(146, 146, 146);
}
.main_div{
    text-shadow: 5px 5px 5px rgb(146, 146, 146);
}